.app {
  min-height: 100vh;
  background-color: #000;
}

#root {
  min-height: 100vh;
  background-color: #581b0379;
}

/*
Contenido de Hero "../src/components/organisms/Hero.jsx"
*/
.hero {
  min-height: 60vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero__title {
  color: #fff;
  text-align: center;
}

.search-bar {
  max-width: 600px;
  justify-content: center;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}